.movies_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  margin: 40px;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 580px) {
  .movies_list {
    grid-template-columns: 75%;
  }
}